    <h2>Billing</h2>
    <form>
        <div class="col-sm-6 custom-height">
            <div class="form-group">
                <label>
                    Name
                    <span>
                        *
                    </span>
                </label>
                <input type="text" name="bFName" id="bFName" class="form-control"/>
                <span class="custom-label">First</span>
            </div>
        </div>
        <div class="col-sm-6 custom-height">
            <div class="form-group">
                <label style="height: 15px"></label>
                <input type="text" name="bLName" id="bLName" class="form-control"/>
                <span class="custom-label">Last</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group emailAd">
            <label>
                Email Address
                <span>
                    *
                </span>
            </label>
            <input type="text" name="bEmail" id="bEmail" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Company</label>
            <input type="text" name="bCompany" id="bCompany" class="form-control"/>
        </div>
        <div class="form-group">
            <label>
                Address Line 1
                <span>
                    *
                </span>
            </label>
            <input type="text" name="bLine1" id="bLine1" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Address Line 2</label>
            <input type="text" name="bLine2" id="bLine2" class="form-control"/>
        </div>
        <div class="form-group">
            <label>
                Town/City
                <span>
                    *
                </span>
            </label>
            <input type="text" name="bCity" id="bCity" class="form-control"/>
        </div>
        <div class="form-group">
            <label>
                ZipCode
                <span>
                    *
                </span>
            </label>
            <input type="text" name="bZipCode" id="bZipCode" class="form-control"/>
        </div>
        <div class="form-group">
            <label>
                Country
                <span>
                    *
                </span>
            </label>
            <input type="text" name="bCountry" id="bCountry" class="form-control"/>
        </div>

    </form>