
<div class="right__support">
    <h1>Contact Us</h1>
    <div class="phone">
        <h6>Phone : </h6>
        <p>+01022169733</p>
        <p>+01022169733</p>
    </div>
    <div class="whatsapp">
        <h6>WhatsApp : </h6>
        <p>+01022169733</p>
    </div>
    <div class="email">
        <h6>Email : </h6>
        <p>ibrahim@gmail.com</p>
        <p>ahmed@gmail.com</p>
        <p>mohamed@gmail.com</p>
    </div>
    <div class="address">
        <h6>Address : </h6>
        <p>Outer Ring Road, Opposite</p>
        <p>Innovative Multiplex, 3rd Floor</p>
        <p>Above Unilet Showroom, Beside</p>
        <p>Nandas Hyderabadi Biryani,</p>
        <p>Marathahalli, Bangalore 560037.</p>
    </div>

</div>