@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right",style="display:flex" }))
    {
    @Html.AntiForgeryToken()
       
        <li class="navli">
            @Html.ActionLink( User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li class="navli"><a href="javascript:document.getElementById('logoutForm').submit()">Logoff</a></li>
    }
}
else
{
    <li class="navli">
        @Html.ActionLink("Signup","Register","Account")

    </li>
    <li class="navli">
        @Html.ActionLink("Login","login","Account")
    </li>
}
