    <h2>Shipping</h2>
    <form>
        <div class="col-sm-6 custom-height">
            <div class="form-group">
                <label>
                    Name
                    <span>
                        *
                    </span>
                </label>
                <input type="text" name="sFName" id="sFName" class="form-control" />
                <span class="custom-label">First</span>
            </div>
        </div>
        <div class="col-sm-6 custom-height">
            <div class="form-group">
                <label style="height: 15px"></label>
                <input type="text" name="sLName" id="sLName" class="form-control" />
                <span class="custom-label">Last</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group emailAd">
            <label>
                Email Address
                <span>
                    *
                </span>
            </label>
            <input type="text" name="sEmail" id="sEmail" class="form-control" />
        </div>
        <div class="form-group">
            <label>Company</label>
            <input type="text" name="sCompany" id="sCompany" class="form-control" />
        </div>
        <div class="form-group">
            <label>
                Address Line 1
                <span>
                    *
                </span>
            </label>
            <input type="text" name="sLine1" id="sLine1" class="form-control" />
        </div>
        <div class="form-group">
            <label>Address Line 2</label>
            <input type="text" name="sLine2" id="sLine2" class="form-control" />
        </div>
        <div class="form-group">
            <label>
                Town/City
                <span>
                    *
                </span>
            </label>
            <input type="text" name="sCity" id="sCity" class="form-control" />
        </div>
        <div class="form-group">
            <label>
                ZipCode
                <span>
                    *
                </span>
            </label>
            <input type="text" name="sZipCode" id="sZipCode" class="form-control" />
        </div>
        <div class="form-group">
            <label>
                Country
                <span>
                    *
                </span>
            </label>
            <input type="text" name="sCountry" id="sCountry" class="form-control" />
        </div>
    </form>
