@{
    ViewBag.Title = "ClassRoom Courses";
}

<div class="contact__title">
    <div class="container">
        <h1>ClassRoom Courses</h1>
    </div>
</div>

<div class="popular__courses">
    <div class="container">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="course__wrap">
                <div><img src="~/Content/Images/mvc.jpg" /></div>
                <p>Asp.Net Mvc</p>
                <div class="course__footer">
                    <div class="star__content">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <span class="enrolled">165 Enrolled</span>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="course__wrap">
                <div><img src="~/Content/Images/paython.jpg" /></div>
                <p>Python Course</p>
                <div class="course__footer">
                    <div class="star__content">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <span class="enrolled">165 Enrolled</span>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="course__wrap">
                <div><img src="~/Content/Images/angularjs8-360x270.jpg" /></div>
                <p>Angular 8 Course</p>
                <div class="course__footer">
                    <div class="star__content">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <span class="enrolled">165 Enrolled</span>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="course__wrap">
                <div><img src="~/Content/Images/c.jpg" /></div>
                <p>C# Course</p>
                <div class="course__footer">
                    <div class="star__content">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <span class="enrolled">165 Enrolled</span>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="course__wrap">
                <div><img src="~/Content/Images/ui-dev.jpg" /></div>
                <p>UI Design Course</p>
                <div class="course__footer">
                    <div class="star__content">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <span class="enrolled">165 Enrolled</span>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="course__wrap">
                <div><img src="~/Content/Images/devops-aws.jpg" /></div>
                <p>DevOps Course</p>
                <div class="course__footer">
                    <div class="star__content">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <span class="enrolled">165 Enrolled</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="signup__news">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="right__wrap">
                <span class="glyphicon glyphicon-envelope"></span>
                <div class="information">
                    <h2>Subscribe Email Alerts</h2>
                    <p>If you wish to receive email alerts when new articles, videos or interview questions are posted on PragimTech.com, you can subscribe by providing your valid email.</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="signup-form">
                <input placeholder="Your Email Address" type="text" class="form-control" name="name" value="" />
                <button class="btn btn-warning">Signup <span class="glyphicon glyphicon-arrow-right"></span> </button>

            </div>
        </div>
    </div>
</div>
