@{
    ViewBag.Title = "Download Courses";
}

<div class="courses__title">
    <div class="container">
        <h1>Download Courses</h1>
    </div>
</div>


<div class="popular__courses">
    <div class="container">
        <div class="col-xs-12">
            <div class="course__wrap-2">
                <div class="img__course">
                    <img src="~/Content/Images/mvc.jpg" />
                </div>
                <div class="course__details">
                    <h3>Download All Videos &amp; Slides</h3>
                    <span class="course__price">$ 120</span>
                    <button class="btn btn-default">Buy Now</button>
                </div>
            </div>

        </div>
        <div class="col-xs-12">
            <div class="course__wrap-2">
                <div class="img__course">
                    <img src="~/Content/Images/paython.jpg" />
                </div>
                <div class="course__details">
                    <h3>Download All Videos &amp; Slides</h3>
                    <span class="course__price">$ 120</span>
                    <button class="btn btn-default">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="course__wrap-2">
                <div class="img__course">
                    <img src="~/Content/Images/angularjs8-360x270.jpg" />
                </div>
                <div class="course__details">
                    <h3>Download All Videos &amp; Slides</h3>
                    <span class="course__price">$ 120</span>
                    <button class="btn btn-default">Buy Now</button>
                </div>
            </div>

        </div>
        <div class="col-xs-12">
            <div class="course__wrap-2">
                <div class="img__course">
                    <img src="~/Content/Images/c.jpg" />
                </div>
                <div class="course__details">
                    <h3>Download All Videos &amp; Slides</h3>
                    <span class="course__price">$ 120</span>
                    <button class="btn btn-default">Buy Now</button>
                </div>
            </div>

        </div>
        <div class="col-xs-12">
            <div class="course__wrap-2">
                <div class="img__course">
                    <img src="~/Content/Images/ui-dev.jpg" />
                </div>
                <div class="course__details">
                    <h3>Download All Videos &amp; Slides</h3>
                    <span class="course__price">$ 120</span>
                    <button class="btn btn-default">Buy Now</button>
                </div>
            </div>

        </div>
        <div class="col-xs-12">
            <div class="course__wrap-2">
                <div class="img__course">
                    <img src="~/Content/Images/devops-aws.jpg" />
                </div>
                <div class="course__details">
                    <h3>Download All Videos &amp; Slides</h3>
                    <span class="course__price">$ 120</span>
                    <button class="btn btn-default">Buy Now</button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="signup__news">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="right__wrap">
                <span class="glyphicon glyphicon-envelope"></span>
                <div class="information">
                    <h2>Subscribe Email Alerts</h2>
                    <p>If you wish to receive email alerts when new articles, videos or interview questions are posted on PragimTech.com, you can subscribe by providing your valid email.</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="signup-form">
                <input placeholder="Your Email Address" type="text" class="form-control" name="name" value="" />
                <button class="btn btn-warning">Signup <span class="glyphicon glyphicon-arrow-right"></span> </button>

            </div>
        </div>
    </div>
</div>
