@{
    ViewBag.Title = "Feedback";
}

<div class="feedback__title">
    <div class="container">
        <h1>Feedback</h1>
    </div>
</div>

<div class="feedback__info">
    <div class="container">
        <div class="feedback__info-details">
            <h1>Feedback</h1>
            <div class="feedback__form">
                <h2>Please provide your honest feedback about your experience with Pragim.</h2>
                <select class="form-control">
                    <option value="-1">Select tecnology</option>
                    <option value="value">C#</option>
                    <option value="value">Mvc</option>
                    <option value="value">Sql</option>
                    <option value="value">Oracle</option>
                    <option value="value">Api</option>
                </select>
                <input class="form-control" placeholder="Trainer Name" type="text" name="name" value="" />
                <input class="form-control" placeholder="Trainer Email" type="text" name="name" value="" />
                <input class="form-control" placeholder="Trainee Name" type="text" name="name" value="" />

                <select class="form-control">
                    <option value="-1">Select Trainer Punctuality</option>
                    <option value="value">Always In Time</option>
                    <option value="value">Rarely Late</option>
                    <option value="value">Rarely On Time</option>
                    <option value="value">Never On Time</option>
                </select>
                <select class="form-control">
                    <option value="-1">Trainer Technical Strength</option>
                    <option value="value">Excelent</option>
                    <option value="value">Very Good</option>
                    <option value="value">Good</option>
                    <option value="value">Average</option>
                    <option value="value">Below Average</option>
                    <option value="value">Bad</option>
                </select>
                <textarea class="form-control" placeholder="Comments" rows="5"></textarea>

                <h3>Note: If you wish to remain anonymous, please donot provide your name and/or email</h3>
                <button class="btn btn-default">Send <span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    </div>
</div>


<div class="signup__news">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="right__wrap">
                <span class="glyphicon glyphicon-envelope"></span>
                <div class="information">
                    <h2>Subscribe Email Alerts</h2>
                    <p>If you wish to receive email alerts when new articles, videos or interview questions are posted on PragimTech.com, you can subscribe by providing your valid email.</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="signup-form">
                <input placeholder="Your Email Address" type="text" class="form-control" name="name" value="" />
                <button class="btn btn-default">Signup <span class="glyphicon glyphicon-arrow-right"></span> </button>

            </div>
        </div>
    </div>
</div>


