@model IEnumerable<PragimCourses.Models.Feedback>
@{
    ViewBag.Title = "Home";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <div class="carousel-image" style="background-image:url('../../Content/Images/banner-1.jpg'),url('../../PragimCourses/Content/Images/banner-1.jpg')"></div>
            <div class="carousel-caption">
                <h1>Class Room Courses</h1>
                <p>Come and experience quality learning offered by PRAGIM's best Trainers</p>
                <div class="free__courses">
                    <ul>
                        <li>C#</li>
                        <li>Asp.net</li>
                        <li>Entityframework</li>
                        <li>Angular 6</li>
                        <li>Angular cli</li>
                        <li>Ado.net</li>
                        <li>Sql Server</li>
                        <li>Mvc</li>
                    </ul>
                </div>
                <button class="btn btn-default">View Courses <span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
        <div class="item">
            <div class="carousel-image" style="background-image:url('../../PragimCourses/Content/Images/banner-2.jpg'),url('../../Content/Images/banner-2.jpg') "></div>

            <div class="carousel-caption">
                <h1>Free Online Courses</h1>
                <p>Browse through kudvenkat's free courses. Just click the button, select the course and start learning!</p>

                <div class="free__courses">
                    <ul>
                        <li>C#</li>
                        <li>Asp.net</li>
                        <li>Entityframework</li>
                        <li>Angular 6</li>
                        <li>Angular cli</li>
                        <li>Ado.net</li>
                        <li>Sql Server</li>
                        <li>Mvc</li>
                    </ul>
                </div>
                <button class="btn btn-default">Learn Free Courses <span class="glyphicon glyphicon-arrow-right"></span></button>

            </div>
        </div>
        <div class="item">
            <div class="carousel-image" style="background-image:url('../../PragimCourses/Content/Images/banner-3.jpg'),url('../../Content/Images/banner-3.jpg') "></div>

            <div class="carousel-caption">
                <h1>Download Courses</h1>
                <p>Buy and Download kudvenkat's courses including exclusive slides and videos.</p>
                <div class="free__courses">
                    <ul>
                        <li>C#</li>
                        <li>Asp.net</li>
                        <li>Entityframework</li>
                        <li>Angular 6</li>
                        <li>Angular cli</li>
                        <li>Ado.net</li>
                        <li>Sql Server</li>
                        <li>Mvc</li>
                    </ul>
                </div>
                <button class="btn btn-default">Buy Courses <span class="glyphicon glyphicon-arrow-right"></span></button>

            </div>

        </div>
        <div class="item">
            <div class="carousel-image" style="background-image:url('../../PragimCourses/Content/Images/banner-5.jpg'), url('../../Content/Images/banner-5.jpg') "></div>

            <div class="carousel-caption">
                <h1>New Training Courses</h1>
                <p></p>
                <div class="free__courses">
                    <ul>
                        <li>C#</li>
                        <li>Asp.net</li>
                        <li>Entityframework</li>
                        <li>Angular 6</li>
                        <li>Angular cli</li>
                        <li>Ado.net</li>
                        <li>Sql Server</li>
                        <li>Mvc</li>
                    </ul>
                </div>
                <button class="btn btn-default">Check Courses <span class="glyphicon glyphicon-arrow-right"></span></button>

            </div>

        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    <div class="new__batch">
        <h1>Next New Batches</h1>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="batch__wrap">
                    <div class="batch__date">
                        <span>February</span>
                        <span>26</span>
                        <span>2020</span>
                    </div>
                    <div class="batch__description">
                        <p>Asp.net core with angular 8 session</p>
                        <span>7:00 AM</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="batch__wrap">

                    <div class="batch__date">
                        <span>March</span>
                        <span>26</span>
                        <span>2020</span>
                    </div>
                    <div class="batch__description">
                        <p>Asp.net core with angular 8 session</p>
                        <span>7:00 AM</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="week__free_classes">
    <div class="container">
        <div class="new__batch">
            <h1>This Week Free Classes</h1>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="batch__wrap">
                        <div class="batch__date">
                            <span>February</span>
                            <span>26</span>
                            <span>2020</span>
                        </div>
                        <div class="batch__description">
                            <p>Asp.net core with angular 8 session</p>
                            <span>7:00 AM</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="batch__wrap">

                        <div class="batch__date">
                            <span>March</span>
                            <span>26</span>
                            <span>2020</span>
                        </div>
                        <div class="batch__description">
                            <p>Asp.net core with angular 8 session</p>
                            <span>7:00 AM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="pragim__information">
    <div class="container">
        <h1>Why should you choose PRAGIM TECH</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <span class="glyphicon glyphicon-plane"></span>
                <h2>Superfast Support</h2>
                <p>
                    PRAGIM is known for placements in major IT companies. Major MNC's visit PRAGIM campus every week for interviews. You can contact our old students for feedback.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="fa fa-laptop"></span>
                <h2>Learn On Any Device</h2>
                <p>
                    Real world project-based training by working software professionals with over 10 years experience.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="glyphicon glyphicon-certificate"></span>
                <h2>Certification Courses</h2>
                <p>
                    Course completion certificate, Mock interviews and resume preparation.
                </p>
            </div>
        </div>
        <button class="btn pragim__information-button">Buy Course</button>

    </div>
</div>

<div class="popular__courses">
    <div class="container">
        <h1>Most Popular Online Courses</h1>
        <div class="btn-group" role="group">
            <button id="btnAll" class="btn active" data-filter="*">All</button>
            <button class="btn" data-filter=".free">Free</button>
            <button class="btn" data-filter=".download">Download</button>
            <button class="btn" data-filter=".online">Online</button>
        </div>
        <div class="grid row">
            <div class="col-md-4 col-sm-6 col-xs-12 element-item free">
                <div class="course__wrap">
                    <div><img src="~/Content/Images/mvc.jpg" /></div>
                    <p>Asp.Net Mvc</p>
                    <div class="course__footer">
                        <div class="star__content">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <span class="enrolled">165 Enrolled</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 element-item free">
                <div class="course__wrap">
                    <div><img src="~/Content/Images/paython.jpg" /></div>
                    <p>Python Course</p>
                    <div class="course__footer">
                        <div class="star__content">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <span class="enrolled">165 Enrolled</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 element-item download">
                <div class="course__wrap">
                    <div><img src="~/Content/Images/angularjs8-360x270.jpg" /></div>
                    <p>Angular 8 Course</p>
                    <div class="course__footer">
                        <div class="star__content">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <span class="enrolled">165 Enrolled</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 element-item download">
                <div class="course__wrap">
                    <div><img src="~/Content/Images/c.jpg" /></div>
                    <p>C# Course</p>
                    <div class="course__footer">
                        <div class="star__content">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <span class="enrolled">165 Enrolled</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 element-item online">
                <div class="course__wrap">
                    <div><img src="~/Content/Images/ui-dev.jpg" /></div>
                    <p>UI Design Course</p>
                    <div class="course__footer">
                        <div class="star__content">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <span class="enrolled">165 Enrolled</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 element-item online">
                <div class="course__wrap">
                    <div><img src="~/Content/Images/devops-aws.jpg" /></div>
                    <p>DevOps Course</p>
                    <div class="course__footer">
                        <div class="star__content">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <span class="enrolled">165 Enrolled</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <button class="btn pragim__information-button">
        Browse All Courses
        <span style="font-size: 14px" class="glyphicon glyphicon-arrow-right"></span>

    </button>
</div>

<div class="pragim__information">
    <div class="container">
        <h1>Software Development Services</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <span class="glyphicon glyphicon-plane"></span>
                <h2>Cost effective software solutions</h2>
                <p>
                    We help develop, implement and maintain cost effective and high quality software applications and solutions.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="fa fa-laptop "></span>
                <h2>Highly skilled and experienced team</h2>
                <p>
                    Our development team is thoroughly trained, skilled, experienced and love what they do.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="glyphicon glyphicon-certificate"></span>
                <h2>Contact us for a free quote</h2>
                <p>
                    Contact us on kudvenkat@pragimtech.com for a free no obligation quote
                </p>
            </div>
        </div>
        <button id="wrap-text" class="btn btn-warning pragim__information-button">Our Development Approach</button>

    </div>
</div>


@{Html.RenderPartial("_testimonial",Model);}
@{Html.RenderPartial("_signup_news");}