@{
    ViewBag.Title = "Subscribe";
}
<div class="subscribe__title">
    <div class="container">
        <h1>Subscribe</h1>
    </div>
</div>

<div class="subscribe__info">
    <div class="container">
        <div class="subscribe__info-details">
            <h1>Subscribe to recive email alerts</h1>
            <p>If you wish to receive email alerts when <span>new articles</span>, <span>videos</span> or <span>interview questions</span> are posted on <span>PragimTech.com</span>, you can subscribe by providing your valid email.</p>
            <p>We will not spam your inbox. we’ll only send you email when we have new articles or interview questions posted. We will never share your information with anyone for any reason.</p>
            <p>If you wish to unsubscribe you can email us  <span>Pragim@PragimTech.com</span></p>
            <div class="subscribe__form">
                <h2>Subscribe with PragimTech.com</h2>
                <input class="form-control" placeholder="Your Email Address" type="text" name="name" value="" />
                <input class="form-control" placeholder="Enter Full Name" type="text" name="name" value="" />
                <button class="btn btn-default">Subscribe <span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    </div>
</div>


<div class="signup__news">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="right__wrap">
                <span class="glyphicon glyphicon-envelope"></span>
                <div class="information">
                    <h2>Subscribe Email Alerts</h2>
                    <p>If you wish to receive email alerts when new articles, videos or interview questions are posted on PragimTech.com, you can subscribe by providing your valid email.</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="signup-form">
                <input placeholder="Your Email Address" type="text" class="form-control" name="name" value="" />
                <button class="btn btn-warning">Signup <span class="glyphicon glyphicon-arrow-right"></span> </button>

            </div>
        </div>
    </div>
</div>


