@{
    ViewBag.Title = "Support";
}

<div class="support__title">
    <div class="container">
        <h1>Support Us</h1>
    </div>
</div>

<div class="support">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="left__support">
                    <h1>Support KudVenket</h1>
                    <h4>I strongly believe the best gift that we can give is "The Gift of Education".</h4>
                    <div class="link">
                        <h4>
                            Let's gift education together
                        </h4>
                        <a href="https://www.patreon.com/kudvenkat">https://www.patreon.com/kudvenkat</a>
                    </div>
                    <p>No doubt, giving food to a hungry person is indeed a great donation, but the greatest donation of all is to give education. Food gives a momentary satisfaction where as education empowers the person for the rest of his life and enables him to earn his own food.</p>
                    <p>Quality software training has become too expensive. I have personally seen many young, hard working, talented students not able to achieve their goal of becoming a software engineer due to the spiralling cost of software training.</p>
                    <div class="link">
                        <h4>Let's gift education together</h4>
                        <a href="https://www.patreon.com/kudvenkat">https://www.patreon.com/kudvenkat</a>
                    </div>
                    <div class="payment">
                        <h4>Support by donating any amount between $10 and $100</h4>
                        <select class="form-control">
                            <option value="value">10$</option>
                            <option value="value">20$</option>
                            <option value="value">30$</option>
                            <option value="value">40$</option>
                            <option value="value">50$</option>
                            <option value="value">60$</option>
                            <option value="value">70$</option>
                            <option value="value">80$</option>
                            <option value="value">90$</option>
                            <option selected="selected" value="value">100$</option>
                        </select>
                        <button class="btn btn-default">Pay Now</button>
                        <p><span>Please Note:</span> You may either pay with your PayPal account or Credit/Debit card.</p>
                        <h5>For any issues with this page, please contact us on kudvenkat@gmail.com</h5>

                    </div>

                    <ul class="list-group list">
                        <li class="list-group-item">
                            <a href="#">JavaScript for ASP.NET Developers - Complete Course - Free to watch Online</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">JavaScript for ASP.NET Developers - Complete Course - Free to watch Online</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">JavaScript for ASP.NET Developers - Complete Course - Free to watch Online</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">JavaScript for ASP.NET Developers - Complete Course - Free to watch Online</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="right__support">
                    <h1>Contact Us</h1>
                    <div class="phone">
                        <h6>Phone : </h6>
                        <p>+01022169733</p>
                        <p>+01022169733</p>
                    </div>
                    <div class="whatsapp">
                        <h6>WhatsApp : </h6>
                        <p>+01022169733</p>
                    </div>
                    <div class="email">
                        <h6>Email : </h6>
                        <p>ibrahim@gmail.com</p>
                        <p>ahmed@gmail.com</p>
                        <p>mohamed@gmail.com</p>
                    </div>
                    <div class="address">
                        <h6>Address : </h6>
                        <p>Outer Ring Road, Opposite</p>
                        <p>Innovative Multiplex, 3rd Floor</p>
                        <p>Above Unilet Showroom, Beside</p>
                        <p>Nandas Hyderabadi Biryani,</p>
                        <p>Marathahalli, Bangalore 560037.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="signup__news">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="right__wrap">
                <span class="glyphicon glyphicon-envelope"></span>
                <div class="information">
                    <h2>Subscribe Email Alerts</h2>
                    <p>If you wish to receive email alerts when new articles, videos or interview questions are posted on PragimTech.com, you can subscribe by providing your valid email.</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="signup-form">
                <input placeholder="Your Email Address" type="text" class="form-control" name="name" value="" />
                <button class="btn btn-warning">Signup <span class="glyphicon glyphicon-arrow-right"></span> </button>

            </div>
        </div>
    </div>
</div>
