@{
    ViewBag.Title = "Testimonial";
}
<div class="testimonial__title">
    <div class="container">
        <h1>Testimonials</h1>
    </div>
</div>


<div class="people__opinion">
    <h1>What People Say</h1>

    <div class="container">
        <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div style="min-height: 785px" class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 keep-responsive">
                            <div class="opinion__wrap">
                                <p>
                                    I got my first job as junior software developer and really want to thank you as when I was preparing for interviews videos uploaded by you on .net technologies helped so much. I bought your DVDs from your website and are very useful. Thank you Venkat sir.
                                </p>
                                <div class="people">
                                    <div class="customer__image"></div>
                                    <div class="customer__details">
                                        <h2>Ali</h2>
                                        <p>DotNet Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 keep-responsive">
                            <div class="opinion__wrap">
                                <p>
                                    In PRAGIM Technologies, they did not ask me for any registration fee. They gave me a chance to attend the classes free for one week. After one week, if I feel the training is good I can continue, otherwise we can quit without paying anything. Dotnet trainer in PRAGIM Technologies has 8 years of experience. I also spoke to the previous batch students who were placed in different organizations. After speaking with old batch students, I became very confident obout their quality of training, trainer and placement programs.
                                </p>
                                <div class="people">
                                    <div class="customer__image"></div>
                                    <div class="customer__details">
                                        <h2>Ibrahim</h2>
                                        <p>DotNet Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 keep-responsive">
                            <div class="opinion__wrap">
                                <p>
                                    Hello Pragim Technologies. I have been following your videos since last one year and just got a job in an MNC. They asked me all about SQL, GAC and DLL Hell. I have given almost 100% answer to all question just because of your video tutorials sir. I am coming from medium class family and you changed my life. I do not have enough words. God bless you sir. I promise I will do any thing for you. Hatts off to you sir. Thank you so much. You Changed my life until i live i can not forget you.
                                </p>
                                <div class="people">
                                    <div class="customer__image"></div>
                                    <div class="customer__details">
                                        <h2>Noha</h2>
                                        <p>Sharepoint Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 keep-responsive">
                            <div class="opinion__wrap">
                                <p>
                                    Every institute says they provide placements and never do that after training, but Pragim Technologies is the only institute who helped me get a job immediately after my training. The quality of the training is really good in Pragim Technologies. Real time project along with the interview questions is also explained by our OBIEE trainer.
                                </p>
                                <div class="people">
                                    <div class="customer__image"></div>
                                    <div class="customer__details">
                                        <h2>Samir</h2>
                                        <p>Oracle Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 keep-responsive">
                            <div class="opinion__wrap">
                                <p>Hello KudVenkat sir, I would like to express my gratitude to You. Your DVDs with all the slides and videos helped a lot. I got a job in 2 months. I really admire the way you professionally provide information. I do not have many words to describe my admiration for You. But can only say one thing: I searched the entire internet and youtube all and I can assure You channel is the best channel that only can be found (even paid resources on the Internet can not be compared with your product). I am very grateful to you for the work you have done. if you need any help, I will be very grateful. I have shared your youtube and blog links in internet forums and social networks like facebook, google+ and twitter. Your work is very helpful to people, because after watching your video, they go for an interview and applying for a job. It is hoped that you will be pleased to read this message. Good day to You.</p>
                                <div class="people">
                                    <div class="customer__image"></div>
                                    <div class="customer__details">
                                        <h2>Mona</h2>
                                        <p>Database Administrator</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 keep-responsive">
                            <div class="opinion__wrap">
                                <p>
                                    Hi Pragim Technologies, your training is so awesome. Without even ever doing c or c++ or any other programming language, I am able to develop small projects using Visual studio and even MVC. Many people suggested that it is not possible being from biochemistry background to become a .NET developer but I am sure that nothing is impossible and I proved that with your training. Your training institute is awesome and your training is more than sufficient if anyone has good motivation to become a software engineer. Its that good.
                                </p>
                                <div class="people">
                                    <div class="customer__image"></div>
                                    <div class="customer__details">
                                        <h2>Asmaa</h2>
                                        <p>Php Developer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="signup__news">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="right__wrap">
                <span class="glyphicon glyphicon-envelope"></span>
                <div class="information">
                    <h2>Subscribe Email Alerts</h2>
                    <p>If you wish to receive email alerts when new articles, videos or interview questions are posted on PragimTech.com, you can subscribe by providing your valid email.</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="signup-form">
                <input placeholder="Your Email Address" type="text" class="form-control" name="name" value="" />
                <button class="btn btn-warning">Signup <span class="glyphicon glyphicon-arrow-right"></span> </button>

            </div>
        </div>
    </div>
</div>


